body {
    background-color: #ffffff;

    font-family: monospace;
}
#bodyAll{
  width:900px;
  margin: auto;
}
#loginlink{
  width: 100%;
  background-color: red;
  height: 20px;
  float: right;
}
#loginlink a{
  padding-left: 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
#header{
  background-image: url(https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/378323_4366091471153_1267024774_n.jpg?oh=d36ba982da702f4c47ed8c429e9835c1&oe=56C96066);
  background-size: cover;
  background-position: 0px 284px;
  width: 100%;
  height: 149px;
  margin-top: 24px;
}
#navigation{
  font-size: 25px;
  width: 100%;
  height: 40px;
  color: black;
}
#navigation ul li{
  float:left;
  list-style: none;
  height: 40px;
}
#navigation ul li a:hover{
  color: #757575;
}
#navigation ul li a {
		display: block;
    padding: 5px 113px 10px 45px;
    text-decoration: none;
}
#container{
  width: 95%;
  margin: auto;
  padding: 20px;
  background-color: #FFFAF4;
}
.errorMessage{
  text-align: center;
  color: #D80101;
  text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
  margin: 0px;
  font-size: 17px;
}
.success{
  text-align: center;
    color: #588C25;
    text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
    margin: 5px;
    font-size: 22px;
}

/*GALLERY*/
.category_name {
  color: #757575;
  font-size: 2.5em;
  padding: 10px 0 10px 0;
  font-family: monospace;
  text-align:center;
}
.category_name a:link{
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
}
.category_name a:hover{
  color: black;
}
.imgContainer{
  min-height:  200px;
  width:100%;
}
.img{
  width: 27%;
  margin: 27px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.33) 2px 3px 5px;
}
.img img{
  width: 100%;
  display: block;
}
/*INFORMATION*/
#information{
  padding: 0 20px;
}
#information h3{
  text-align: center;
  }
/*LOGIN*/
.links a:link{
  text-decoration:  none;
}
.links{
    text-align: center;
}
.links a{
  color: #757575;
  font-size: 2.5em;
  font-family: monospace;
  text-align:center;
  margin-top:6px;
}
.links a:hover{
  text-shadow: rgba(0, 0, 0, 0.37) 0.5px 0.5px 1px;
  color: black;
}
/*CHANGE-GALLERY*/
.back{
  margin-left: 10px;
  padding:4px;
  background-color: #EDFFEC;
  border-radius: 5px;
  border-top: white solid 3px;
  padding: 3px 30px 5px 30px;
  text-align: center;
}
/*NEW CATEGORY*/
#container .form1 .form2{
  width: 50%;
  padding:0;
  float:left;
}

/*ALL FORMS*/
#container fieldset{
    display: block;
    padding: 0 143px;
    border: none;
}
#container input:hover{
  background-color: #EFEFEF;
}
#container textarea:hover{
  background-color: #EFEFEF;
}

#container fieldset legend{
  text-align: center;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
}
#container fieldset p{
  text-align: center;
}
#container .FirstInputs{
  float:left;
}
#container .klientMessage{
  float:right;
}
#conatiner form{
      margin: 0 30px 30px 30px;
}
