body {
    background-color: #ffffff;
}
#bodyAll{
  box-shadow: #D6D6D6 3px 2px 3px;
  background-color: rgba(143, 216, 141, 0.35);
  width:700px;
  margin: auto;
  border: #D6D6D6 solid 3px;
}
#loginlink {
  width: 100%;
  background-color: rgba(132, 197, 115, 0.35);
}
#loginlink a{
  padding-left: 20px;
}
#header{
  background-image: url(http://188.166.116.158/1dv608/Project-Gallery/imageUploads/453768-cats-cute.jpg);
  background-size: cover;
    width: 100%;
    height: 320px;
}
#navigation{
  background-color: rgba(143, 216, 141, 0.77);
  font-size: 25px;
  font-family: monospace;
  position: relative;
  bottom: 65px;
  width: 100%;
  height: 40px;
  text-shadow: #8E8E8E 1px 1.5px 2px;
}
#navigation ul li:hover > ul{
  display:block;
}
#navigation ul li{
  float:left;
  list-style: none;
  height: 40px;
}
#navigation ul li:hover{
  background-color: rgba(143, 216, 141, 0.77);
  color: #black;
  text-shadow: #525252 0px 0px 2px;
}
#navigation ul li a {
		display: block;
    padding: 5px 45px 0 45px;
		color: #757575;
    text-decoration: none;
}
#loginLink{
  float: right;
}
#container{
  width: 100%;
  max-height: 360px;
  position: relative;
  bottom: 40px;
  overflow-x: auto;
}
.errorMessage{
  text-align: center;
  color: #D80101;
  text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
  margin: 0px;
  font-size: 17px;
}
.success{
  text-align: center;
    color: #588C25;
    text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
    margin: 5px;
    font-size: 22px;
}

/*GALLERY*/

.category_name {
  background-color: #CDEACC;
  color: #757575;
  font-size: 2.5em;
  padding: 20px 0 20px 0;
  border-bottom: aliceblue solid;
  font-family: monospace;
  text-align:center;
}
.category_name a:link{
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 2px;
}
.category_name:hover{
  text-shadow: rgba(0, 0, 0, 0.37) 0.5px 0.5px 1px;
  color: black;
  background-color: #BDE8BB;
}
.img{
  width: 25%;
  margin: 27px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.33) 2px 3px 5px;
}
/*INFORMATION*/
#information{
  padding: 0 20px;
}
#information h3{
  text-align: center;
  }
/*LOGIN*/
.links a:link{
  text-decoration:  none;
}
.links{
    background-color: #CDEACC;
    text-align: center;
}
.links a{
  color: #757575;
  font-size: 2.5em;
  border-bottom: aliceblue solid;
  font-family: monospace;
  text-align:center;
}
.links a:hover{
  text-shadow: rgba(0, 0, 0, 0.37) 0.5px 0.5px 1px;
  color: black;
  background-color: #BDE8BB;
}
/*CHANGE-GALLERY*/
.back{
  margin-left: 10px;
  padding:4px;
  background-color: #EDFFEC;
  border-radius: 5px;
  border-top: white solid 3px;
  padding: 3px 30px 5px 30px;
  text-align: center;
}
/*NEW CATEGORY*/
#container .form1 .form2{
  width: 50%;
  padding:0;
  float:left;
}

/*ALL FORMS*/
#container fieldset{
    display: block;
    padding: 0 143px;
}
#container input:hover{
  background-color: #EFEFEF;
}
#container textarea:hover{
  background-color: #EFEFEF;
}

#container fieldset legend{
  text-align: center;
  padding: 0.2em 0.5em;
  font-size:90%;
}
#container fieldset p{
  text-align: center;
}
#container .FirstInputs{
  float:left;
}
#container .klientMessage{
  float:right;
}
#conatiner form{
      margin: 0 30px 30px 30px;
}
