body {
    background-color: #ffffff;
}
#bodyAll{
  background-color: rgba(143, 216, 141, 0.35);
  width:700px;
  min-height: 600px;
  margin: auto;
}
#header{
  background-image: url(http://188.166.116.158/1dv608/Project-Gallery/imageUploads/453768-cats-cute.jpg);
  background-size: cover;
    width: 100%;
    height: 320px;
}
#navigation{
  background-color: rgba(143, 216, 141, 0.77);
  font-size: 25px;
  font-family: monospace;
  position: relative;
  bottom: 65px;
  width: 100%;
  height: 40px;
}
#navigation ul li:hover > ul{
  display:block;
}
#navigation ul li{
  float:left;
  list-style: none;
  height: 40px;
}
#navigation ul li:hover{
  background-color: rgba(143, 216, 141, 0.77);
}
#navigation ul li:hover a{
  color: #000;
}
#navigation ul li a {
		display: block;
    padding: 5px 45px 0 45px;
		color: #757575; text-decoration: none;
}

h1{
  text-align: center;
  color: #7D8998;
}
#loginLink{
  float: right;
}
#container{
  float: left;
  width: 100%;
  position: relative;
  bottom: 20px;
  overflow-x: auto;
}
.errorMessage{
  color: red;
}

/*GALLERY*/

.category_name {
  background-color: rgba(122, 180, 255, 0.22);
  font-size: 2.5em;
  padding-left: 1em;
  padding-bottom: 10px;
  border-bottom: aliceblue solid;
  text-transform: uppercase;
}

.img{
  border: 1px solid blue;
  width: 110px;
  height: 110px;
  margin: 27px;
  float: left;
}
/*LOGIN*/

/*CHANGE-GALLERY*/

/*CONTACT PAGE*/

/*ALL FORMS*/
#container fieldset{
    display: block;
}

#container fieldset legend{
  text-align: center;
  padding: 0.2em 0.5em;
  font-size:90%;
}
#container fieldset p{
  text-align: center;
}
#container .FirstInputs{
  float:left;
}
#container .klientMessage{
  float:right;
}
#conatiner form{
      margin: 0 30px 30px 30px;
}
